@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

* {
  font-family: 'Ibarra Real Nova', serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Ibarra Real Nova', serif;
}
.marquee_container {
  background: #222725;
  display: flex;
  overflow: hidden;
  padding: 7px 0;
  height: 27px;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px
}

.nav-link {
  position: relative;
  font-size: 24px;
  line-height: 1.2;
  color: #222725;
  text-decoration: none;
  padding-right: 40px;
  transition: all .2s ease-in-out;
}

.nav-link-a {
  font-size: 20px;
  line-height: 1.2;
  color: #222725;
  text-decoration: none;
  padding-right: 40px;
  transition: all .2s ease-in-out;
}

body:has(.nav-link-rent:hover) .nav-link-background-rent {
  width: 60%
}
body:has(.nav-link-buy:hover) .nav-link-background-buy {
  width: 55%
}
body:has(.nav-link-sell:hover) .nav-link-background-sell {
  width: 55%
}

.nav-link-background-rent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  border-bottom: 2px solid #222725;
  border-radius: 90%;
  background-color: transparent; 
  transition: all .4s;
}
.nav-link-background-buy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  border-bottom: 2px solid #222725;
  border-radius: 80%;
  background-color: transparent; 
  transition: all .4s;
}
.nav-link-background-sell {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  border-bottom: 2px solid #222725;
  border-radius: 80%;
  background-color: transparent; 
  transition: all .4s;
}

.left_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: auto;
  width: 30px;
}

.btn {
  font-size: 14px;
  color:#222725;
  line-height: 17.5px;
  border: 1px solid #222725;
  border-radius: 50px;
  background-color: transparent;
  padding: 4px 15px;
}

h1 {
  font-size: 100px;
  margin-bottom: 0px;
  margin-top: 40px;
}
h2 {
  font-size: 40px;
}

.hero-top_container {
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
font-family: 'Ibarra Real Nova';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 100%;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #222725;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
flex: none;
order: 0;
flex-grow: 0;
}

.hero-bottom_container {
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
font-family: 'Ibarra Real Nova';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 100%;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #222725;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
flex: none;
order: 0;
flex-grow: 0;
}
.about_container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #222725;
}
.about_container-text {
  padding: 10px;
  line-height: 100%;
}
.error-page {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222725;
  
}

.featured_container img {
width: 504px;
height: auto;
}

.contact_container {
  display: grid;
  padding: 20px 60px; 
}

.contact_form {
  display: grid;
  margin-left: auto;
  vertical-align: auto;
}

.popup {
  display: grid;
  margin-left: auto;
  vertical-align: auto;
}

.contact-home__form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-home__form-item {
  margin-bottom: 18px;
}

.contact-home__form-item label {
  display: block;
  font-size: 16px;
  line-height: 1.49;
  letter-spacing: .01em;
}

.contact-home__form-item input {
  width: 100%;
  padding: 8px 0 15px;
  display: block;
  font-size: 29px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--red);
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

/* Break */
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 25%;
  transition: all .2s ease-in-out;
}

.cards__item:hover {
  transform: scale(1.02);
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(100%);
  overflow: hidden;
  position: relative;
  transition: filter .5s cubic-bezier(.43,.41,.22,.91);
  transition: all .5s ease-in-out;
  width: 480px;
  height: 400px;
}

.card__image:hover{
  filter: contrast(60%);
  
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__title__name  {
  color: #222725;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text, .card__detail p {
  flex: 1 1 auto;
  font-size: 1.0rem;
  line-height: 1.5;
  margin-bottom: .1rem;
  color: #222725
}

.card__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card__detail p {
  text-align: center;
}

.card__detail button{
  text-align: center;
}

@media(max-width: 700px){
  .cards__item{
    width: 50%;
  }
}

.search input {
  font-size: 14px;
  color:#222725;
  line-height: 17.5px;
  background-color: transparent;
  padding: 4px 15px;
  text-align: center;
  position: relative;
  display: block; 
  margin: auto; 
  border-radius: 50px;
  border: 2px;
  font-size: 20px;
  border: 1px solid #222725;
}

.search {
  padding: 0 20 0 0;
}

.filtered-list select  {
  border-radius: 50px;
  border: 2px;
  font-size: 14px;
  border: 1px solid #222725;
  background-color: transparent;
  
}
.filtered-list {
  padding: 16px;
  display: flex;
}

.toggle { 
padding-left: 48px
}

.looktosell {
  padding-left: 32px;
}

.sell_form {
  display: grid;
  padding: 20px 60px;
  margin-left: auto;
}

.sell_form input {
  width: 100%;
  padding: 10px 0 15px;
  display: block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--red);
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
 }

.rent_form {
  display: grid;
  padding: 20px 60px;
  margin-left: auto;
}
.form-input input {
  width: 100%;
  padding: 10px 0 15px;
  display: block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--red);
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
 }

 .rent_form button {
  margin-top: 10px;
 }

 .checkbox {
  font-size: 20px;
  font-weight: bold;
  padding: 8px 0px;
 }

 